.container {
    padding-bottom: 100px;
}

.success, .warning, .danger, .primary{
    padding: 10px;
    color: white;
    width: 70%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    z-index: 3;
    left: 17%;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
}

.warning {
    background: #FFA900;
}

.danger {
    background: #F93154;
}

.primary {
    background: #1266F1;
}

.success {
    background: #00B74A;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.close {
    cursor: pointer;
    font-size: 32px;
    border: none;
    background: none;
    color: #fff;
}

.alert-open {
    font-size: 30px;
    position: relative;
    top: -65px;
    left: 45%;
    transform: translateY(0px);
    border: 3px solid black;
    text-transform: uppercase;
    transition: all 100ms ease-in;
}

.alert-open:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.625rem 0.625rem rgba(0,0,0,0.22);
    transform: translateY(-5px);
    cursor: pointer;
}