.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 50%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border: 3px solid black;
    font-weight: 500;
}

.Modal:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.625rem 0.625rem rgba(0,0,0,0.22);
    cursor: pointer;
}

.separate {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    font-weight: 100;
    font-size: 32px;
    font-family: 'Slabo 27px', serif;
}

.times {
    display: inline-block;
    border: none;
    background: none;
    margin-left: 140px;
    font-size: 25px;
}

.times:hover {
    color: red;
}

.modal-open {
    font-size: 30px;
    position: relative;
    top: 600px;
    left: 45%;
    transform: translateY(0px);
    border: 3px solid black;
    text-transform: uppercase;
    transition: all 100ms ease-in;
}

.modal-open:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.625rem 0.625rem rgba(0,0,0,0.22);
    transform: translateY(-5px);
    cursor: pointer;
}

.Primary {
    background: #4e54c8;
    transition: all 100ms ease-in;
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}

.Danger {
    transition: all 100ms ease-in;
    background: #e52d27;
    background: linear-gradient(to right, #b31217, #e52d27);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}

.Primary:hover, .Danger:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
